<div class="mybodylogin">
  <div class="charpage">

    <h2 style="margin-bottom: 25px;">Mappe</h2>

    <div class="charbox1">
      <h3>Facile</h3>
      <p>10x5</p>
      <img src="https://i.imgur.com/gAJjBMB.jpg">
      <p style="margin-top: 25px;">Tesori: 1</p>
      <p>Nemici: 2</p>
    </div>

    <div class="charbox1">
      <h3>Medio</h3>
      <p>20x10</p>
      <img src="https://i.imgur.com/RnHvUmz.jpg">
      <p style="margin-top: 25px;">Tesori: 2</p>
      <p>Nemici: 3</p>
    </div>

    <div class="charbox1">
      <h3>Difficile</h3>
      <p>30x15</p>
      <img src="https://i.imgur.com/rBsd8gF.jpg">
      <p style="margin-top: 25px;">Tesori: 3</p>
      <p>Nemici: 6</p>
    </div>





  </div>
</div>
