<div class="margin-auto text-center mybodylogin">
  <div class="charpage">
    <h2>Personaggi</h2>

    <div class="charbox1">

      <div style="width: 50%;min-height:250px; padding: 30px 12px 12px;float: left;">
        <img
          src="https://media.giphy.com/media/6begFPiIVsnWOs2hbf/giphy.gif"
          style="margin-top: 13px;width: 40%; background: #ffffff; border: 2px solid #000000; border-radius: 20px;"/>
      </div>
      <div style="float: left; width: 50%; text-align: left;padding: 12px 90px 12px 12px;">
        <h3 style="text-align: center">STATISTICHE BASE</h3>
        <br/>
        <span style="font-weight: 600">Classe: </span> <span style="float: right;">Rogue</span>
        <br/>
        <span style="font-weight: 600">Forza: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">Agilità: </span><span style="float: right;">9</span><br>
        <span style="font-weight: 600">HP: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">Fortuna: </span><span style="float: right;">9</span>
      </div>
      <div class="clearfix"></div>

    </div>

    <div class="charbox1">

      <div style="width: 50%;min-height:250px; padding: 30px 12px 12px;float: left;">
        <img
          src="https://media.giphy.com/media/jUv7v9vedctWZbnkhn/giphy.gif"
          style="margin-top: 13px;width: 40%; background: #ffffff; border: 2px solid #000000; border-radius: 20px;"/>
      </div>
      <div style="float: left; width: 50%; text-align: left;padding: 12px 90px 12px 12px;">
        <h3 style="text-align: center">STATISTICHE BASE</h3>
        <br/>
        <span style="font-weight: 600">Classe: </span> <span style="float: right;">Knight</span><br/>
        <span style="font-weight: 600">Forza: </span><span style="float: right;">9</span><br>
        <span style="font-weight: 600">Agilità: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">HP: </span><span style="float: right;">9</span><br>
        <span style="font-weight: 600">Fortuna: </span><span style="float: right;">5</span>
      </div>
      <div class="clearfix"></div>

    </div>

    <div class="charbox1">

      <div style="width: 50%;min-height:250px; padding: 30px 12px 12px;float: left;">
        <img
          src="https://media.giphy.com/media/8dVb4oNrgNuRqm7Dbb/giphy.gif"
          style="margin-top: 13px;width: 40%; background: #ffffff; border: 2px solid #000000; border-radius: 20px;">
      </div>
      <div style="float: left; width: 50%; text-align: left;padding: 12px 90px 12px 12px;">
        <h3 style="text-align: center">STATISTICHE BASE</h3>
        <br/>
        <span style="font-weight: 600">Classe: </span> <span style="float: right;">Novice</span>
        <br/>
        <span style="font-weight: 600">Forza: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">Agilità: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">HP: </span><span style="float: right;">5</span><br>
        <span style="font-weight: 600">Fortuna: </span><span style="float: right;">5</span>
      </div>
      <div class="clearfix"></div>

    </div>

  </div>

</div>

